<template>
  <div class="row q-mb-none">
    <q-input
      standout="bg-primary text-white"
      class="col"
      label="Direccion"
      ref="direccion"
      :modelValue="direccion"
      @update:modelValue="event => $emit('update:direccion', event)"
    >
      <template v-slot:append>
        <q-icon
        name="close"
        class="cursor-pointer"
        />
      </template>
    </q-input>
  </div>
</template>

<script>
export default {
  props: ['direccion']
}
</script>
