<template>
  <q-card  bordered>
    <q-img
      src="https://eunamed.com/wp-content/uploads/2021/02/medico-especialista-en-chile-768x512.jpg"
    />
    <q-card-section>
      <div class="text-overline text-orange-9">Medico</div>
      <div class="text-overline text-orange-9">{{ medico.especialidad}}</div>
      <div class="text-h5">{{ medico.nombre }} {{ medico.apellido }}</div>
      <div class="text-caption text-red">{{ medico.id }}</div>
      <div class="text-caption text-grey">{{ medico.fechaNacimiento }}</div>
      <div class="text-caption text-grey">{{ medico.direccion }}</div>
      <div class="text-caption text-grey">{{ medico.email }}</div>
    </q-card-section>

    <q-btn
      icon="settings"
      flat
      color="positive"
      label="Editar"
    />
    <q-btn
      icon="delete"
      flat
      color="negative"
      label="Eliminar"
    />

  </q-card>
</template>

<script>
export default {
  name: 'MedicoCard',
  props: ['medico']
}
</script>
