<template>
  <q-card>
     <q-card-section class="row q-mx-md">
      <div class="text-h6">Agregar Medico</div>
      <q-space />
      <q-btn
        v-close-popup
        flat
        round
        dense
        icon="close" />
    </q-card-section>
    <form v-on:submit="submitForm">
      <q-card-section class="q-mx-md q-gutter-md">
        <FormNombre v-model:nombre="medico.nombre" ref="nombre" />
        <FormApellido v-model:apellido="medico.apellido" ref="apellido" />
        <FormDNI v-model:dni="medico.dni" ref="dni"/>
        <FormDireccion v-model:direccion="medico.direccion" ref="direccion" />
        <q-select
          options-cover
          standout="bg-primary text-white"
          transition-show="scale"
          transition-hide="scale"
          v-model="medico.especialidad"
          v-bind:options="especialidades"
          label="Especialidad"
        />
        <FormFecha v-model:fecha="medico.fechaNacimiento" label="Fecha Nacimiento" ref="fechanacimiento" />
      </q-card-section>
      <q-card-actions align="right" class="  q-mb-sm q-px-md text-primary">
        <q-btn
          icon="cancel"
          flat
          color="negative"
          label="Cancelar"
          v-close-popup
        />
        <q-btn
          icon="check"
          flat
          color="positive"
          label="Aceptar"
          type="submit"
        />
      </q-card-actions>
    </form>
  </q-card>
</template>

<script>
import FormDireccion from '../comunes/FormDireccion.vue'
import FormFecha from '../comunes/FormFecha.vue'
import FormNombre from '../comunes/FormNombre.vue'
import FormApellido from '../comunes/FormApellido.vue'
import FormDNI from '../comunes/FormDNI.vue'

export default {
  name: 'MedicoEdicion',
  components: {
    FormApellido,
    FormNombre,
    FormDireccion,
    FormFecha,
    FormDNI
  },
  data () {
    return {
      medico: {
        apellido: '',
        nombre: '',
        dni: '',
        fechaNacimiento: '',
        direccion: '',
        especialidad: ''
      },
      especialidades: [
        'Cardiologo',
        'Clinico',
        'Psicologo',
        'Traumatologo',
        'Neurologo'
      ]
    }
  },
  methods: {
    submitForm: function () {
      console.log(this.medico.especialidad)
      console.log(this.medico.apellido)
    }
  }
}
</script>
