<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md">
      <q-btn
        v-on:click="agregarMedico=true"
        icon="person_add"
        color="primary"
        class=" q-mx-lg on-left"
        label="Agregar Medico"
      />
    </div>
    <div class="q-ma-lg row justify-start items-start q-gutter-sm">
      <MedicoCard
        v-for="medico in medicos"
        :medico="medico"
        :key="medico.id"
      />
    </div>
    <q-dialog v-model="agregarMedico" persistent>
      <MedicoEdicion />
    </q-dialog>
  </q-page>
</template>

<script>
import MedicoCard from '../components/medicos/MedicoCard.vue'
import MedicoEdicion from '../components/medicos/MedicoEdicion.vue'

export default {
  components: {
    MedicoCard,
    MedicoEdicion
  },
  data () {
    return {
      agregarMedico: false
    }
  },
  computed: {
    medicos: function () {
      return this.$store.getters['medicos/getMedicos']
    }
  },
  watch: { // Solo para ver el dialog
    agregarMedico: function () {
      console.log(this.agregarMedico)
    }
  }
}
</script>
