<template>
  <div>
    <FormApellido />
  </div>
</template>

<script>
import FormApellido from '../components/FormApellido.vue';

export default {
  components: {
    FormApellido,
  },
};
</script>
