
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intro</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <h4>Primer ejemplo Vue</h4>

  <div id="app">
    {{ nombre }} <br>
    <input type="text" v-model="nombre"> <br>
    {{ nombreCompleto() }} <br>
    {{ nombreCompleto() }} <br>
    {{ nombreCompleto() }}
  </div>

  <h5>Pie</h5>

  <script>
    let app = new Vue({
      el: "#app",
      data: {
        nombre: "Gabriel",
        apellido: "Barrera"
      },
      methods: {
        nombreCompleto: function () {
          return Math.random() //this.nombre + " " + this.apellido
        }
      },
    })


  </script>
  
</body>
</html>