
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intro</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <h4>Primer ejemplo Vue</h4>

  <div id="app">
    <nombrecompleto></nombrecompleto> <br>
    <nombrecompleto></nombrecompleto> <br>
    <nombrecompleto></nombrecompleto> <br>
  </div>

  <h5>Pie</h5>



  <script>
    Vue.component('nombrecompleto', {
      data: function () {
        return {
          nombre: '',
          apellido: ''
        }
      },
      methods: {
        nombreCompleto: function () {
          return this.nombre + " " + this.apellido
        }
      },
      template: '<div>    \
                  <input type="text" v-model="nombre" /> \
                  <input type="text" v-model="apellido" />  \
                  {{ nombreCompleto() }} \
                </div>'
    })


    let app = new Vue({
      el: "#app",
      data: {
        nombre: "Gabriel",
        apellido: "Barrera"
      },
      methods: {
        nombreCompleto: function () {
          return Math.random() //this.nombre + " " + this.apellido
        }
      },
    })


  </script>
  
</body>
</html>