
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intro</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <h4>Primer ejemplo Vue</h4>

  <div id="app">
    <select v-model="tituloAUsar">
      <option value="Sr.">Sr.</option>
      <option value="Sra.">Sra.</option>
      <option value="Lic.">Lic.</option>
    </select>

    <nombrecompleto v-bind:titulo="tituloAUsar"></nombrecompleto> <br>
    <nombrecompleto v-bind:datos="datosAlComponente"></nombrecompleto> <br>
    <nombrecompleto></nombrecompleto> <br>
  </div>

  <h5>Pie</h5>



  <script>
    Vue.component('nombrecompleto', {
      data: function () {
        return {
          nombre: '',
          apellido: ''
        }
      },
      methods: {
        nombreCompleto: function () {
          return this.titulo + " " + this.nombre + " " + this.apellido
        }
      },
      props: {
        titulo: {
          type: String,
          default: "xx"
        },
        datos: {
          type: Object,
          default: function () {
            return {}
          }
        }
      },
      template: '<div>    \
                  <input type="text" v-model="nombre" /> \
                  <input type="text" v-model="apellido" />  \
                  {{ nombreCompleto() }} \
                  {{ datos }} \
                </div>'
    })


    let app = new Vue({
      el: "#app",
      data: {
        nombre: "Gabriel",
        apellido: "Barrera",
        tituloAUsar: "",
        datosAlComponente: {
          valores: [1,2,3,4,5],
          otraPro: "Soy una prop mas"
        }
      },
      methods: {
        nombreCompleto: function () {
          return Math.random() //this.nombre + " " + this.apellido
        }
      },
    })


  </script>
  
</body>
</html>