
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intro</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <h4>Primer ejemplo Vue</h4>

  <div id="app">
    {{ unMetodo() }} <br>
    {{ unMetodo() }} <br>
    {{ unMetodo() }} <br>
    {{ unaComputed }} <br>
    {{ unaComputed }} <br>
    {{ unaComputed }} <br>
    <hr>
    {{ metodoDos() }} <br>
    {{ metodoDos() }} <br>
    {{ metodoDos() }} <br>
    {{ computedDos }} <br>
    {{ computedDos }} <br>
    {{ computedDos }} <br>

    {{ edad }}
  </div>

  <h5>Pie</h5>



  <script>

    let app = new Vue({
      el: "#app",
      data: {
        nombre: "",
        apellido: "",
        edad: 0
      },
      methods: {
        unMetodo: function () {
          console.log("unMetodo")
          return Math.random()
        },
        metodoDos: function () {
          console.log("metodoDos")
          return this.nombre + " " + this.apellido
        }
      },
      computed: {
        unaComputed: function () {
          console.log("unaComputed")
          return Math.random()
        },
        computedDos: function () {
          console.log("computedDos")
          return this.nombre + " " + this.apellido
        }
      },
      watch: {
        edad: function (value) {
          console.log("watch edad")
        },
        computedDos: function (value) {
          console.log("computedDos watch")
        }
      }
    })


  </script>
  
</body>
</html>