
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Intro</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.1/vuex.min.js"></script>

</head>
<body>
  <h4>Primer ejemplo Vue</h4>

  <div id="app">
    {{ contadorActual }}
    <input type="text" v-model="paso">
    <hr>
    <incrementador></incrementador>
    <hr>
    <incrementador></incrementador>
  </div>

  <h5>Pie</h5>


  <script>
    let initialState = {
      contador: 0,
      paso: 1
    }

    const miStore = new Vuex.Store({
      state: initialState,
      mutations: {
        incrementar: function (state) {
          state.contador += state.paso
        },
        decrementar: function (state) {
          state.contador -= state.paso
        },
        cambiarPaso: function (state, data) {
          state.paso = data
        }
      }
    })

    Vue.component('incrementador', {
      template:'<div> \
                  <h3>{{ contadorActual }}</h3>  \
                  <button v-on:click="metIncrementar">Incrementar</button>   \
                  <button v-on:click="metDecrementar">Decrementar</button>   \
                </div>',
      computed: {
        contadorActual: function () {
          return "(C) Contador: " + this.$store.state.contador + ", paso: " + this.$store.state.paso
        }
      },
      methods: {
        metIncrementar: function () {
          this.$store.commit('incrementar')
        },
        metDecrementar: function () {
          this.$store.commit('decrementar')
        }       
      }
    })

    let app = new Vue({
      el: "#app",
      data: {
        paso: 1
      },
      store: miStore,
      methods: {
        nombreCompleto: function () {
          return Math.random() //this.nombre + " " + this.apellido
        }
      },
      computed: {
        contadorActual: function () {
          return "Contador: " + this.$store.state.contador + ", paso: " + this.$store.state.paso
        }
      },
      watch: {
        paso: function (value) {
          this.$store.commit('cambiarPaso', parseInt(this.paso))
        }
      }
    })

  </script>
  
</body>
</html>